---
import type { CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ExcerptEntry from "@components/ExcerptEntry.astro";
import { getBlogEntryProps } from "@lib/contentCardHelpers";
import { getPublishedCollection } from "@lib/collections";
import { BLOG } from "@consts";
import { getListOGData } from "@lib/opengraph";

const data = await getPublishedCollection("blog");

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
}

const posts = data.reduce((acc: Acc, post) => {
    const year = post.data.date.getFullYear().toString();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(post);
    return acc;
  }, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));

const ogData = getListOGData(
  BLOG.TITLE,
  BLOG.DESCRIPTION,
  Astro.url.toString(),
  Astro.site?.toString() || ""
);
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION} ogData={ogData}>
  <Container>
    <div class="space-y-10">
      <h1 class="font-semibold text-fg-strong">
        Blog
      </h1>
      <div class="space-y-10">
        {years.map(year => (
          <section class="space-y-4">
            <h2 class="font-semibold text-fg-strong">
              {year}
            </h2>
            <ul class="ex-feed">
              {posts[year].map((post) => (
                <li>
                  <ExcerptEntry {...getBlogEntryProps(post)} />
                </li>
              ))}
            </ul>
          </section>
        ))}
      </div>
    </div>
  </Container>
</PageLayout>
