---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ContentCard from "@components/ContentCard.astro";
import { getProjectCardProps } from "@lib/contentCardHelpers";
import { PROJECTS } from "@consts";
import { getListOGData } from "@lib/opengraph";

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const ogData = getListOGData(
  PROJECTS.TITLE,
  PROJECTS.DESCRIPTION,
  "projects",
  projects.length,
  Astro.url.toString(),
  Astro.site?.toString() || ""
);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION} ogData={ogData}>
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold text-black dark:text-white">
        Projects
      </h1>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ContentCard {...getProjectCardProps(project, { maxLines: 3, headingLevel: 2 })}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
