---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ContentCard from "@components/ContentCard.astro";
import { getProjectCardProps } from "@lib/contentCardHelpers";
import { getPublishedCollection } from "@lib/collections";
import { PROJECTS } from "@consts";
import { getListOGData } from "@lib/opengraph";

const projects = await getPublishedCollection("projects");

const ogData = getListOGData(
  PROJECTS.TITLE,
  PROJECTS.DESCRIPTION,
  Astro.url.toString(),
  Astro.site?.toString() || ""
);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION} ogData={ogData}>
  <Container>
    <div class="space-y-10">
      <h1 class="font-semibold text-fg-strong">
        Projects
      </h1>
      <ul class="flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ContentCard {...getProjectCardProps(project, { maxLines: 3, headingLevel: 2 })}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
